
#castle-selector {
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;

    padding: 10px;
    background-color: #1b1b1b;
    border-radius: 1rem;
    border: solid 1px #fff;
}

#castle-selector.hidden {
    display: none;
}

#castle-selector .castle-selector__row {
    overflow-y: scroll;
    height: calc( 6 * 64px + 6 * .6rem  + 6 * 1rem + 6 * 1px + 3 * 2rem + 1rem);
}

#castle-selector .castle-selector__row::-webkit-scrollbar {
    display: none;
}

#castle-selector .castle-selector__castle {
    margin-bottom: 1rem;
    border-radius: .5rem;
    border: solid 1px transparent;
    transition: all ease 100ms;
    cursor: pointer;
}

#castle-selector .castle-selector__col:first-child .castle-selector__castle {
    margin-top: 1rem;
}

#castle-selector .castle-selector__castle:hover {
    background-color: #fff;
    border-color: #1b1b1b;
}

#castle-selector .castle-selector__castle.selected {
    background-color: #fff;
    border-color: #1b1b1b;
}


#castle-selector .castle-selector__castle img {
    box-sizing: content-box;
    width: 64px;
    height: 64px;
    padding: .6rem;
}

#castle-selector .castle-selector__delimiter {
    border-top: solid 1px #fff;
    margin: 1rem 0;
}